
#experience{
    width: 100%;
    margin: 1.5rem;
    padding: 6rem $p;
    > h2 {
        font: 700 2.5rem $text2;
        width: fit-content;
        border-bottom: 1px solid $color6_1;
        padding: 0.5rem;
        margin: auto;
      }
      .function{
        padding: 0.5rem;
        >h3{
            font : 600 1.3rem $text1;
        }  
        .exp{
            display: flex;
            justify-content: space-between;
            padding:0.5rem 0 0.5rem 0rem;
            >div{
                // color: $color7;
                font : 300 1rem $text1 ;
            }
        }
        >ul{
            padding:0.5rem 0 0.5rem 0rem;
            >li{
                padding: 0.2rem;
            }
        }
      }
    
}
