#skills{
    height: 50vh;
    margin: 2rem;
 
    >h2{
        font: 700 2.5rem $text2;
      width: fit-content;
      border-bottom: 1px solid $color6_1;
      padding: 0.5rem;
      margin: auto;
    }
     >section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        >img{
        width: 8%;
        height: 70%;
        margin: 2rem;
        object-fit: contain;
        background-color: $color1;
    }
}
}